* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:  1px solid yellow;






}
body {
    height: 100vh;
    background-color: rgb(0, 0, 0);



}


.fotografo {
    width: 85.3rem;
    height: 12.6rem;
    background-image: url(img/6.jpg);


}

.fotografo img {
    width: 10rem;
    height: 10.5rem;
    margin-left: 8rem;
    margin-top: 1.1rem;


}


.menu {
    width: 16rem;
    margin-left: 25rem;
    margin-top: -10rem;


}
nav li {
    display: inline;

}
.menu a {
    padding: 1rem;
    color: white;
    text-decoration: none;

}
.menu span {
     color: red;

}

.text p{
    width: 19rem;
    height: 9rem;
    margin-left: 50rem;
    margin-top: -5rem;
    color: red;



}
#name {
    color: #ffffff;
    padding: 2rem;
    width: 10rem;
    height: 2rem;
    font-size: 2rem;
    letter-spacing: 8px;
    margin-left: 50rem;
    margin-top: -3rem;



}
#name span{
    color: #666666;
    opacity: 0.3;


}

.text p {
    width: 25rem;
    letter-spacing: .4rem;
    font-size: .7rem;
    color: white;
    text-align: center;
    margin-top: -1rem;


}


.fotos {
    width: 85.3rem;
    height: 12.6rem;
    background-image: url(img/16.jpg);

   


}

.text2 {
    width: 10rem;
    margin: 3rem;
    margin-top: -1rem;
    margin-left: 8rem;


}
.text2 .nome2 {
    color: rgb(95, 95, 95);
    padding: 2rem;
    font-size: 20px;
    letter-spacing: 8px;


     
}
.text2 p {
    width: 20rem;
    letter-spacing: .2rem;
    font-size: .7rem;
    color: rgb(112, 111, 111);


}
.text2 p span {
    color: rgb(255, 255, 255);
    display: flex;
    margin-left: 4rem;
    font-size: 2.5rem;
    margin-top: -2rem;



}

.fotos img {
    width: 7rem;
    display: flex;
    margin-left: 70rem;
    margin-top: -13.9rem;


}
.fotos span img {
    width: 8rem;
    display: flex;
    margin-left: 60rem;
    margin-top: -10.9rem;



}

.extra img {
    width: 12rem;
    display: flex;
    margin-left: 45rem;
    margin-top: -10.2rem;


}

.foto3 {
    width: 85.3rem;
    height: 15.5rem;
    margin-top: 4.9rem;
    background-image: url(img/16.jpg);

    
    

}

.text3 {
    width: 25rem;
    margin: 5rem;
    margin-top: -5rem;
    padding-top: 6rem;
    color: red;
   
    margin-left: 5rem;

}
 .text3 p {
    letter-spacing: .2rem;
    font-size: 2rem;
    color: rgb(255, 0, 0);
    margin-top: -2rem;
}
.text3 p span {
    letter-spacing: 1rem;
    color: rgb(255, 255, 255);
    display: flex;
    margin-left: 1rem;
    font-size: 4rem;
    margin-top: 3rem;
}
.text3 #nome3 {
    letter-spacing: 1rem;
    color: rgb(117, 117, 117);
    font-size: 1rem;
    display: flex;
    margin-left: 5rem;
}

.text-final p {

    width: 30rem;
    letter-spacing: .4rem;
    font-size: 1rem;
    display: flex;
    margin-top: -10rem;
    margin-left: 38rem;
    text-align: center;
    color: rgb(117, 117, 117);
}
.ultima1 img {
    width: 10.5rem;
    margin-left: 74.8rem;
    display: flex;
    margin-top: -14.2rem;
    
}

.lateral {
    color: white;
    width: 35rem;
    margin-top: -21rem;
    transform: rotate(90deg);
    margin-left: -15rem;
    letter-spacing: 1.4rem;
    font-family: 'Audiowide', cursive;
    font-size: 2.5rem;
    opacity: 0.1;
    

}






@media (max-width: 510px){

   

    .fotografo {
        width: 20rem;
        height: 15rem;
        border: 1px solid blue;

    } 
    .menu {
        font-size: 1rem;
        width: 16rem;
        height: 1rem;
        margin-left: 6rem;
        margin-top: -13rem;
        border: 1px solid rgb(255, 255, 255);


    }
        
       
    
    .fotografo img {
        width: 10rem;
        height: 10rem;
        margin-left: 3rem;
        margin-top: 4.8rem;
        border: 1px solid blue;




    }
     
           

      #name {
            color: #f1f1f1;
            padding: 2rem;
            font-size: 1rem;
            width: 13rem;
            height: 1rem;
            letter-spacing: 5px;
            display: flex;
            margin-top: -1rem;
            margin-left: 9rem;
            border: 1px solid rgb(163, 0, 0);

    
        }
       
        .text p {
            width: 8rem;
            height: 7rem;
            letter-spacing: .3rem;
            font-size: .4rem;
            color: rgb(255, 253, 253);
            margin-left:14rem;
            margin-top: -.5rem;
            text-align: center;
            border: 1px solid rgb(253, 253, 253);


        }

        /* meio*/
                
    .fotos {
        width: 22.4rem;
        height: 15rem;
        margin-top: 1rem;
        border: 1px solid rgb(243, 7, 7);


    }

    

    .text2 .nome2 {
        color: rgb(95, 95, 95);
        padding: 2rem;
        height: 1rem;
        font-size: 1rem;
        margin-left: -5rem;
        margin-top: -1rem;
        letter-spacing: 8px;
        border: 1px solid rgb(243, 7, 7);




         
    }
    .text2 p span {
        display: flex;
        margin-left: .1em;
        font-size: 2rem;
        margin-top: .1rem;
        color: rgb(255, 255, 255);
        border: 1px solid rgb(243, 7, 7);




    
    }
    .text2 p {
        width: 10rem;
        height: 8rem;
        letter-spacing: .2rem;
        font-size: .5rem;
        margin-top: 2rem;
        margin-left: -4rem;
        color: rgb(112, 111, 111);
        border: 1px solid rgb(243, 7, 7);



    }
    
    .fotos img {
        width: 3rem;
        display: flex;
        margin-left: 15rem;
        margin-top: -15rem;
        border: 1px solid blue;



        

    }
    .fotos span img {
        width: 3rem;
        display: flex;
        margin-left: 19rem;
        margin-top: -4.4rem;


    }
    
    .extra img {
        width: 6rem;
        display: flex;
        margin-left: 15.5rem;
        margin-top: .2rem;


    }
    
    /*final da pagina*/
    .foto3 {
        width: 27.5rem;
        height: 14rem;
        margin-top: 3rem;



    }
      
    .text3 p span {
        width: 13rem;
        letter-spacing: 1rem;
        color: rgb(255, 0, 0);
        display: flex;
        margin-left: -25rem;
        font-size: 1rem;
        margin-top: -4rem;
        border: 1px solid rgb(243, 7, 7);



    }
    .text3 .nome3 {
        width: 13rem;
        letter-spacing: 1rem;
        color: rgb(112, 111, 111);
        font-size: 1rem;
        display: flex;
        margin-left: -23rem;
        margin-top: -10rem;
        border: 1px solid rgb(243, 7, 7);


        

    }
    
    .text-final p {
    
        width: 10rem;
        letter-spacing: .2rem;
        font-size: .5rem;
        margin-top: -29rem;
        margin-left: 5rem;
        text-align: center;
        color: rgb(255, 252, 252);


    }
    .ultima1 img {
        width: 8rem;
        margin-left: 14.4rem;
        display: flex;
        margin-top: -11.5rem;


    }
    .lateral {
        color: white;
        width: 35rem;
        margin-top: -20.5rem;
        transform: rotate(90deg);
        margin-left: -16rem;
        letter-spacing: 1rem;
        font-family: 'Audiowide', cursive;
        font-size: 2rem;
        opacity: 0.1;

    }
    
}