* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(0, 0, 0);
}
.container {
    width: 94.8rem;
    height: 44rem;
}

.fotografo {
    width: 83.7rem;
    height: 14.6rem;
    background-image: url(img/6.jpg);

}

.fotografo img {
    width: 15rem;
    height: 12rem;
    margin-left: 8rem;
    margin-top: 1.8rem;
}


.menu {
    width: 60rem;
    margin-left: 25rem;
    margin-top: -13rem;
}
nav li {
    display: inline;
}
.menu a {
    padding: 1rem;
    color: white;
    text-decoration: none;
}
.menu span {
     color: red;
}

.text {
    width: 20rem;
    height: 10rem;
    margin: 55rem;
    margin-top: -3rem;
}
.text .name {
    color: #ffffff;
    padding: 2rem;
    font-size: 3rem;
    letter-spacing: 8px;
    margin-left: -5rem;
}
.name span{
    color: #666666;
    opacity: 0.3;
}

.text p {
    letter-spacing: .2rem;
    font-size: .7rem;
    color: white;
    text-align: center;
}


.fotos {
    width: 83.7rem;
    height: 14.6rem;
    background-image: url(img/16.jpg);

}

.text2 {
    width: 20rem;
    margin: 5rem;
    margin-top: -1rem;
    margin-left: 8rem;
}
.text2 .nome2 {
    color: rgb(95, 95, 95);
    padding: 2rem;
    font-size: 20px;
    letter-spacing: 8px;
     ;
}
.text2 p {
    letter-spacing: .2rem;
    font-size: .7rem;
    color: rgb(112, 111, 111);
}
.text2 p span {
    color: red;
    display: flex;
    margin-left: 4rem;
    font-size: 3rem;

}

.fotos img {
    width: 7rem;
    display: flex;
    margin-left: 70rem;
    margin-top: -15.9rem;
}
.fotos span img {
    width: 8rem;
    display: flex;
    margin-left: 60rem;
    margin-top: -11.8rem;
}

.extra img {
    width: 12rem;
    display: flex;
    margin-left: 45rem;
    margin-top: -10.2rem;
}

.foto3 {
    width: 83.7rem;
    height: 15.9rem;
    margin-top: 4.9rem;
    background-image: url(img/16.jpg);
}

.text3 {
    width: 20rem;
    margin: 30rem;
    margin-top: -5rem;
    padding-top: 6rem;
}
.text3 p {
    letter-spacing: .2rem;
    font-size: 5rem;
    color: rgb(167, 166, 166);
    margin-top: -5rem;
}
.text3 p span {
    letter-spacing: 1rem;
    color: rgb(255, 255, 255);
    display: flex;
    margin-left: -17rem;
    font-size: 4rem;
    margin-top: 9rem;
}
.text3 .nome3 {
    letter-spacing: 2rem;
    color: rgb(112, 111, 111);
    font-size: 1rem;
    display: flex;
    margin-left: -22rem;
}

.text-final p {

    width: 30rem;
    letter-spacing: .4rem;
    font-size: 1rem;
    display: flex;
    margin-top: -36rem;
    margin-left: 38rem;
    text-align: center;
    color: rgb(112, 111, 111);
}
.ultima1 img {
    width: 10rem;
    margin-left: 73.6rem;
    display: flex;
    margin-top: -12.3rem;
}

.lateral {
    color: white;
    width: 35rem;
    margin-top: -25rem;
    transform: rotate(90deg);
    margin-left: -15rem;
    letter-spacing: 1.4rem;
    font-family: 'Audiowide', cursive;
    font-size: 2.5rem;
    opacity: 0.1;
    

}






@media (max-width: 510px){

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .fotografo {
        width: 94.7rem;
        height: 10.6rem;
        border: 1px solid wheat;

    }  
    .fotografo img {
        width: 6rem;
        height: 5rem;
        margin-left: 7rem;
        margin-top: 5.5rem;

    }

    .menu {
        width: 5rem;
        height: 9rem;
        margin-left: 4rem;
        margin-top: -9rem;
        line-height: 1.5rem;

        }  

     .text .name {
            color: #ffffff;
            padding: 2rem;
            font-size: 1rem;
            letter-spacing: 8px;
            display: flex;
            margin-top: -12rem;
            margin-left: -47.5rem;

        }
       
        .text p {
            width: 10rem;
            height: 5rem;
            letter-spacing: .1rem;
            font-size: .5rem;
            color: white;
            margin-left: -43rem;
            margin-top: -1rem;
            text-align: center;

        }
        



        

        
    .fotos {
        width: 94.7rem;
        height: 10.6rem;

    }

    

    .text2 .nome2 {
        color: rgb(95, 95, 95);
        padding: 2rem;
        height: 1rem;
        font-size: 20px;
        margin-left: 2rem;
        margin-top: -1rem;
        letter-spacing: 8px;

         
    }
    .text2 p span {
        display: flex;
        margin-left: 1rem;
        font-size: 1rem;
        margin-top: .1rem;
        color: red;

    
    }
    .text2 p {
        width: 10rem;
        height: 15rem;
        letter-spacing: .2rem;
        font-size: .5rem;
        margin-top: -2rem;
        margin-left: -5rem;
        color: rgb(112, 111, 111);

    }
    .linha{
        border-top: 1px solid #ff0000;
        margin-top: -4rem;
        
    
    }


    .fotos img {
        width: 3rem;
        display: flex;
        margin-left: 20.5rem;
        margin-top: -21.0rem;

    }
    .fotos span img {
        width: 3rem;
        display: flex;
        margin-left: 17.5rem;
        margin-top: -4.4rem;

    }
    
    .extra img {
        width: 6rem;
        display: flex;
        margin-left: 17.5rem;
        margin-top: .1rem;

    }
    






    .foto3 {
        width: 94.7rem;
        height: 25rem;
        margin-top: 166rem;



    }
      
    .text3 p span {
        width: 13rem;
        letter-spacing: 1rem;
        color: rgb(255, 255, 255);
        display: flex;
        margin-left: -25rem;
        font-size: 1rem;
        margin-top:  2em;

    }
    .text3 .nome3 {
        width: 13rem;
        letter-spacing: 1rem;
        color: rgb(112, 111, 111);
        font-size: 1rem;
        display: flex;
        margin-left: -25rem;
        margin-top: -4em;

    }
    
    .text-final p {
    
        width: 10rem;
        letter-spacing: .2rem;
        font-size: .5rem;
        margin-top: -32rem;
        margin-left: 5rem;
        text-align: center;
        color: rgb(112, 111, 111);

    }
    .ultima1 img {
        width: 7rem;
        margin-left:  16.6rem;
        display: flex;
        margin-top: -10rem;

    }
    .lateral {
        color: white;
        width: 35rem;
        margin-top: -13.5rem;
        transform: rotate(90deg);
        margin-left: -16rem;
        letter-spacing: 1rem;
        font-family: 'Audiowide', cursive;
        font-size: 2rem;
        opacity: 0.1;
        
    
    }


}